.transactionHistory {
  min-width: 600px;

  margin-bottom: var(--block-margin);

  font-size: var(--md-font-size);
  text-align: center;

  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.transactionHead {
  background-color: var(--table-head-color);
  color: var(--light-color);
}

.headRow {
  text-transform: uppercase;
}

th {
  padding: var(--inner-padding);
}
